
html, body {
  min-height: 100vh;
  background: lightgray;
}

#root, .App {
  min-height: 100vh;
}
.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.scroll-container {
  padding: 15px;
  overflow: visible;
  background-color: white;
}
.scroll-container p {
  line-height: 1.25em;
  margin: 0;
  vertical-align: text-bottom;
}
.title {
  font-weight: bolder;
}

.scroll-item {
  text-align: left;
  border-top: 1px solid black;
  padding-bottom: 2em;
}
.row {
  display: flex;
}

.one-of-two {
  width: 50%
}

.one-of-three {
  width: 33.333%
}